In [1]:
import pandas as pd
import urllib
import json
import datetime
from tqdm.notebook import tqdm
import traceback
import psycopg2
from psycopg2.extras import RealDictCursor
import pymssql
from dateutil.relativedelta import relativedelta
import pickle as pk

pd.options.display.max_columns = None
# pd.set_option("display.max_columns", None)
# pd.set_option("display.max_rows", 100)

f = open("D:/Github/Work/Tableau/datamart_password.txt", "r")
password = f.readline()

In [2]:
conn = pymssql.connect(server="133.186.215.165", database="HDCMART", user="hdcmart_user", password=password, charset="UTF8")
query = """
select * from information_schema.tables
"""
tables = pd.read_sql(query, conn)

In [3]:
tables

   TABLE_CATALOG TABLE_SCHEMA                   TABLE_NAME  TABLE_TYPE
0        HDCMART          dbo                       사업계획소화        VIEW
1        HDCMART          dbo      DATAMART_DIZT_DEPT_ACNT  BASE TABLE
2        HDCMART          dbo  DATAMART_DAAT_BASEINFO_TEMP  BASE TABLE
3        HDCMART          dbo      DATAMART_DAZT_DEPT_TEMP  BASE TABLE
4        HDCMART          dbo     DATAMART_DAZT_COMMONCODE  BASE TABLE
..           ...          ...                          ...         ...
95       HDCMART          dbo       DATAMART_PRECOSTSTATUS  BASE TABLE
96       HDCMART          dbo      DATAMART_DAAV_EDUCATION        VIEW
97       HDCMART          dbo             DATAMART_PROJECT  BASE TABLE
98       HDCMART          dbo                       프로젝트목록        VIEW
99       HDCMART          dbo                        청산율현황        VIEW

[100 rows x 4 columns]

# Orders & Supplies & Sales

In [25]:
conn = pymssql.connect(server="133.186.215.165", database="HDCMART", user="hdcmart_user", password=password, charset="EUC-KR")
query = """
SELECT *
FROM datamart_dift_pl_siljuk
"""
pl_siljuk = pd.read_sql(query, conn)

In [36]:
a = pl_siljuk.iloc[:, 11:22].sum(axis=1)

In [37]:
b = pl_siljuk.iloc[:, 23]

In [41]:
c = a == b
c[c == False]

129       False
130       False
206       False
259       False
312       False
          ...
100401    False
100402    False
100403    False
100404    False
100405    False
Length: 3146, dtype: bool

In [17]:
data.iloc[:, [0, 3, 4, 5, 7, 9]]

       YM_SILJUK TY_SILJUK     DS_SITE      DS_ITEM      DS_BONBU DS_SPNC_DEPT
0         202101         S  인덕아이파크(옵션)   장기투자증권감액손실  '건설사업본부('18)       도시정비2팀
1         202101         S  인덕아이파크(옵션)   장기투자증권손상차손  '건설사업본부('18)       도시정비2팀
2         202101         S  인덕아이파크(옵션)      지분법평가손실  '건설사업본부('18)       도시정비2팀
3         202101         S  인덕아이파크(옵션)     매출채권처분손실  '건설사업본부('18)       도시정비2팀
4         202101         S  인덕아이파크(옵션)          잡손실  '건설사업본부('18)       도시정비2팀
...          ...       ...         ...          ...           ...          ...
100798    202101         S  인덕아이파크(옵션)  기 타 영 업 비 용  '건설사업본부('18)       도시정비2팀
100799    202101         S  인덕아이파크(옵션)          기부금  '건설사업본부('18)       도시정비2팀
100800    202101         S  인덕아이파크(옵션)     유형자산처분손실  '건설사업본부('18)       도시정비2팀
100801    202101         S  인덕아이파크(옵션)     무형자산처분손실  '건설사업본부('18)       도시정비2팀
100802    202101         S  인덕아이파크(옵션)     투자자산처분손실  '건설사업본부('18)       도시정비2팀

[100803 rows x 6 columns]

In [21]:
data

,YM_SILJUK,CD_SITE,CD_ITEM,TY_SILJUK,DS_SITE,DS_ITEM,CD_BONBU,DS_BONBU,CD_SPNC_DEPT,DS_SPNC_DEPT,AM_PRE_SUM,AM_001,AM_002,AM_003,AM_004,AM_005,AM_006,AM_007,AM_008,AM_009,AM_010,AM_011,AM_012,AM_TOTAL
258,202103,F041,PM00000,S,신정뉴타운아이파크위브(옵션),청산율,H0200,'건설사업본부('18),217,도시정비1팀,0.0,1.035736e+10,1.035736e+10,1.035736e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.107208e+10
259,202103,F041,PM100000,S,신정뉴타운아이파크위브(옵션),예상금액,H0200,'건설사업본부('18),217,도시정비1팀,0.0,1.035736e+10,1.035736e+10,1.035736e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
664,202104,F041,PM00000,S,신정뉴타운아이파크위브(옵션),청산율,H0200,'건설사업본부('18),217,도시정비1팀,0.0,1.035736e+10,1.035736e+10,1.035736e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.107208e+10
665,202104,F041,PM100000,S,신정뉴타운아이파크위브(옵션),예상금액,H0200,'건설사업본부('18),217,도시정비1팀,0.0,1.035736e+10,1.035736e+10,1.035736e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
712,202105,F041,PM00000,S,신정뉴타운아이파크위브(옵션),청산율,H0200,'건설사업본부('18),217,도시정비1팀,0.0,1.035736e+10,1.035736e+10,1.035736e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.107208e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97684,202103,F032,PM100000,S,잠실올림픽IPARK(옵션),예상금액,H0200,'건설사업본부('18),217,도시정비1팀,0.0,2.259307e+09,2.259307e+09,2.259307e+09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
98114,202104,F032,PM00000,S,잠실올림픽IPARK(옵션),청산율,H0200,'건설사업본부('18),217,도시정비1팀,0.0,2.259307e+09,2.259307e+09,2.259307e+09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.777921e+09
98115,202104,F032,PM100000,S,잠실올림픽IPARK(옵션),예상금액,H0200,'건설사업본부('18),217,도시정비1팀,0.0,2.259307e+09,2.259307e+09,2.259307e+09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
98165,202105,F032,PM00000,S,잠실올림픽IPARK(옵션),청산율,H0200,'건설사업본부('18),217,도시정비1팀,0.0,2.259307e+09,2.259307e+09,2.259307e+09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.777921e+09
98166,202105,F032,PM100000,S,잠실올림픽IPARK(옵션),예상금액,H0200,'건설사업본부('18),217,도시정비1팀,0.0,2.259307e+09,2.259307e+09,2.259307e+09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00

In [8]:
conn = pymssql.connect(server="133.186.215.165", database="HDCMART", user="hdcmart_user", password=password, charset="EUC-KR")
query = """
SELECT *
FROM datamart_dift_pl_plan
"""
pl_plan = pd.read_sql(query, conn)

In [9]:
pl_plan

,YR_PLAN,CD_SITE,CD_ITEM,TY_GUBUN,TY_PLAN_GB,DS_SITE,DS_ITEM,CD_BONBU,DS_BONBU,CD_SPNC_DEPT,DS_SPNC_DEPT,AM_JJN_SJ,AM_PRE_SUM,AM_PRE_010,AM_PRE_011,AM_PRE_012,AM_001,AM_002,AM_003,AM_004,AM_005,AM_006,AM_007,AM_008,AM_009,AM_010,AM_011,AM_012,AM_013,AM_014,AM_015,AM_016,AM_017,AM_018,AM_019,AM_020,AM_021,AM_022,AM_023,AM_024,AM_025,AM_026,AM_027,AM_028,AM_029,AM_030,AM_031,AM_032,AM_033,AM_034,AM_035,AM_036,AM_TOTAL,AM_YR_01,AM_YR_02
0,2021,9520,PB000000,A,01,설악콘도미니엄,소화,H0100,'개발운영사업본부('18),107,투자사업팀('18),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0
1,2021,9520,PB100000,A,01,설악콘도미니엄,소화,H0100,'개발운영사업본부('18),107,투자사업팀('18),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0
2,2021,9520,PC000000,A,01,설악콘도미니엄,매출액,H0100,'개발운영사업본부('18),107,투자사업팀('18),0.0,0.0,451000000.0,214000000.0,307000000.0,346000000.0,343000000.0,267000000.0,321000000.0,443000000.0,343000000.0,757000000.0,1.342000e+09,345000000.0,536000000.0,345000000.0,391000000.0,586000000.0,586000000.0,586000000.0,586000000.0,586000000.0,586000000.0,586000000.0,586000000.0,586000000.0,586000000.0,586000000.0,586000000.0,599000000.0,599000000.0,599000000.0,599000000.0,599000000.0,599000000.0,599000000.0,599000000.0,599000000.0,599000000.0,599000000.0,599000000.0,2.097100e+10,0.0,0.0
3,2021,9520,PC200000,A,01,설악콘도미니엄,공사매출,H0100,'개발운영사업본부('18),107,투자사업팀('18),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0
4,2021,9520,PC400000,A,01,설악콘도미니엄,기타매출액,H0100,'개발운영사업본부('18),107,투자사업팀('18),0.0,0.0,451000000.0,214000000.0,307000000.0,346000000.0,343000000.0,267000000.0,321000000.0,443000000.0,343000000.0,757000000.0,1.342000e+09,345000000.0,536000000.0,345000000.0,391000000.0,586000000.0,586000000.0,586000000.0,586000000.0,586000000.0,586000000.0,586000000.0,586000000.0,586000000.0,586000000.0,586000000.0,586000000.0,599000000.0,599000000.0,599000000.0,599000000.0,599000000.0,599000000.0,599000000.0,599000000.0,599000000.0,599000000.0,599000000.0,599000000.0,2.097100e+10,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44462,2021,ZW020,PL000000,B,01,화성동탄(2)3-2 조경(하자),수주잔고,H0200,'건설사업본부('18),216,민간수주2팀,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0
44463,2021,ZW020,PM00000,B,01,화성동탄(2)3-2 조경(하자),청산율,H0200,'건설사업본부('18),216,민간수주2팀,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0
44464,2021,ZW020,PM100000,B,01,화성동탄(2)3-2 조경(하자),예상금액,H0200,'건설사업본부('18),216,민간수주2팀,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0
44465,2021,ZW020,PN00000,B,01,화성동탄(2)3-2 조경(하자),수금,H0200,'건설사업본부('18),216,민간수주2팀,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0
44466,2021,ZW020,PN10000,B,01,화성동탄(2)3-2 조경(하자),수금,H0200,'건설사업본부('18),216,민간수주2팀,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0

In [20]:
conn = pymssql.connect(server="133.186.215.165", database="HDCMART", user="hdcmart_user", password=password, charset="EUC-KR")
query = """
	SELECT
			CONCAT(YR_PLAN, RIGHT(MONTH,2)) AS YEARMONTH
		,	CD_SITE
		,	DS_SITE
		,	DS_ITEM
		,	DS_BONBU
		,	DS_SPNC_DEPT
		,	AM_PLAN
	FROM
		dbo.DATAMART_DIFT_PL_PLAN
		UNPIVOT (
			AM_PLAN
			FOR MONTH
			IN (AM_001, AM_002, AM_003, AM_004, AM_005, AM_006, AM_007, AM_008, AM_009, AM_010, AM_011, AM_012))
		AS UNPVT
	WHERE
		1=1
		AND CD_ITEM = 'PA000000'
		AND TY_GUBUN = 'A'
		AND TY_PLAN_GB = '01'
"""
data = pd.read_sql(query, conn)

In [21]:
data

     YEARMONTH  CD_SITE    DS_SITE DS_ITEM      DS_BONBU DS_SPNC_DEPT  AM_PLAN
0       202101     A344  평촌더샵IPARK      수주  '건설사업본부('18)       도시정비1팀      0.0
1       202102     A344  평촌더샵IPARK      수주  '건설사업본부('18)       도시정비1팀      0.0
2       202103     A344  평촌더샵IPARK      수주  '건설사업본부('18)       도시정비1팀      0.0
3       202104     A344  평촌더샵IPARK      수주  '건설사업본부('18)       도시정비1팀      0.0
4       202105     A344  평촌더샵IPARK      수주  '건설사업본부('18)       도시정비1팀      0.0
...        ...      ...        ...     ...           ...          ...      ...
5779    202108  Z210140  대전 문화동6구역      수주  '건설사업본부('18)       도시정비1팀      0.0
5780    202109  Z210140  대전 문화동6구역      수주  '건설사업본부('18)       도시정비1팀      0.0
5781    202110  Z210140  대전 문화동6구역      수주  '건설사업본부('18)       도시정비1팀      0.0
5782    202111  Z210140  대전 문화동6구역      수주  '건설사업본부('18)       도시정비1팀      0.0
5783    202112  Z210140  대전 문화동6구역      수주  '건설사업본부('18)       도시정비1팀      0.0

[5784 rows x 7 columns]

In [22]:
set(data["YEARMONTH"].tolist())

{'202101',
 '202102',
 '202103',
 '202104',
 '202105',
 '202106',
 '202107',
 '202108',
 '202109',
 '202110',
 '202111',
 '202112'}

# Human Resources

In [24]:
conn = pymssql.connect(server="133.186.215.165", database="HDCMART", user="hdcmart_user", password=password, charset="EUC-KR")
query = """
SELECT *
FROM datamart_dauv_annualincome
"""
annualincome = pd.read_sql(query, conn)

In [25]:
annualincome.head()

   ID_PERSON CD_CORP ID_SABUN   AM_ANNUAL YY_BASE   DT_BASE
0      10021    A101     5555  80995224.0    2021  20210101
1      11419    A101     5809  74572392.0    2021  20210101
2      11701    A101     5898  76057656.0    2021  20210101
3      11892    A101     5653  76128000.0    2021  20210101
4      11969    A101     6331  76057656.0    2021  20210101

In [6]:
conn = pymssql.connect(server="133.186.215.165", database="HDCMART", user="hdcmart_user", password=password, charset="EUC-KR")
query = """
SELECT *
FROM datamart_dauv_salarybase
"""
salarybase = pd.read_sql(query, conn)

In [7]:
salarybase

,,,,,CD_CORP,,CD_DEPT,,ID_SABUN,,,,,,,,
0,202101,급여,1.0,임원,A101,HDC 현대산업개발,50000200,회장,1,정몽규,회장,130160000.0,63440880.0,66719120.0,Y,100000.0,N
1,202101,성과급,1.0,임원,A101,HDC 현대산업개발,50000200,회장,1,정몽규,회장,344250000.0,159043500.0,185206500.0,Y,NaN,N
2,202102,급여,1.0,임원,A101,HDC 현대산업개발,50000200,회장,1,정몽규,회장,130160000.0,42157080.0,88002920.0,Y,100000.0,N
3,202103,급여,1.0,임원,A101,HDC 현대산업개발,50000200,회장,1,정몽규,회장,130160000.0,61108070.0,69051930.0,Y,100000.0,N
4,202104,급여,1.0,임원,A101,HDC 현대산업개발,50000200,회장,1,정몽규,회장,130160000.0,61108070.0,69051930.0,Y,100000.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54768,201910,급여,1.0,일반직,A101,HDC 현대산업개발,50071950,None,9052,한상현,4사,7347000.0,1098530.0,6248470.0,Y,0.0,N
54769,201911,급여,1.0,일반직,A101,HDC 현대산업개발,50071950,None,9052,한상현,4사,4351000.0,557460.0,3793540.0,Y,0.0,N
54770,201912,급여,1.0,일반직,A101,HDC 현대산업개발,50071950,None,9052,한상현,4사,7347000.0,1095530.0,6251470.0,Y,0.0,N
54771,202001,급여,1.0,일반직,A101,HDC 현대산업개발,50071950,None,9052,한상현,4사,4399000.0,573950.0,3825050.0,Y,0.0,N
54772,202002,급여,1.0,일반직,A101,HDC 현대산업개발,50071950,None,9052,한상현,4사,7429000.0,1137480.0,6291520.0,Y,0.0,N